{% extends 'base.html.twig' %}

{% block title %}Détails Employé - {{ employee.firstName }} {{ employee.lastName }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title mb-0">
                        <i class="fas fa-user me-2"></i>
                        {{ employee.firstName }} {{ employee.lastName }}
                    </h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card bg-primary text-white">
                                <div class="card-body">
                                    <h5 class="card-title">Aujourd'hui</h5>
                                    <p class="card-text">
                                        <strong>Revenus:</strong> {{ dailyStats.revenue|number_format(2, ',', ' ') }} €<br>
                                        <strong>Clients:</strong> {{ dailyStats.clients }}<br>
                                        <strong>Commissions:</strong> {{ dailyStats.commission|number_format(2, ',', ' ') }} €
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-success text-white">
                                <div class="card-body">
                                    <h5 class="card-title">Cette Semaine</h5>
                                    <p class="card-text">
                                        <strong>Revenus:</strong> {{ weeklyStats.revenue|number_format(2, ',', ' ') }} €<br>
                                        <strong>Clients:</strong> {{ weeklyStats.clients }}<br>
                                        <strong>Commissions:</strong> {{ weeklyStats.commission|number_format(2, ',', ' ') }} €
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-info text-white">
                                <div class="card-body">
                                    <h5 class="card-title">Ce Mois</h5>
                                    <p class="card-text">
                                        <strong>Revenus:</strong> {{ monthlyStats.revenue|number_format(2, ',', ' ') }} €<br>
                                        <strong>Clients:</strong> {{ monthlyStats.clients }}<br>
                                        <strong>Commissions:</strong> {{ monthlyStats.commission|number_format(2, ',', ' ') }} €
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <a href="{{ path('app_admin_dashboard') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-2"></i>Retour au tableau de bord
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
